.weather-container {
  max-width: 600px;
  display: inline-block;
  margin: 0px auto;
  padding: 25px 30px;
  border-style: solid;
  border-radius: 10px;
border-image: linear-gradient(45deg, #ff1494, #86b1f8) 4;
border-width: 2px;
border-image-slice: 1;
}
h1 {
  padding-top: 20px;
}
h1,
h2 {
  font-size: 25px;
}
ul {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

#search-button {
  background-color: #86b1f8;
  border-color: #86b1f8;
  color: aliceblue;
  border-radius: 3px;
  cursor: pointer;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  transition: box-shadow color 0.3s;
}
#search-button:hover {
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #ff1494;
  border-color: #ff1494;
}
#city-input {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 3%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
#city-input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 2px solid #ff1494;
}
#current-location-button {
  border-radius: 3px;
  border: 1px solid;
  background-color: #dee1e6;
  margin-top: 5px;
  font-size: 12px;
  cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
#current-location-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: #ff1494;
  border-color:black;
}
.weather-info {
  font-size: 12px;
}
#condition {
  font-size: 20px;
}

#temperature {
  font-size: 45px;
}

#opensource {
  color: #86b1f8;
  cursor: pointer;
  transition: 0.3s;
}
#opensource:hover {
  color: #ff1494;
}
#name,
#opensource {
  font-size: 12px;
}
.units {
  font-size: 14px;
  position: relative;
  top: -16px;
}
#celsius-link,
#fahrenheit-link {
  color: black;
  transition: 0.3s;
     
}
#celsius-link:hover,
#fahrenheit-link:hover {
  color: #ff1494;
  transition: 0.3s;

}
.Week-ahead-container {
  font-size: 15px;
}
